@model WebApplication1.ViewModel.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css " rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "mx-1 mx-md-4" }))
                                    {
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            @Html.ValidationSummary()
                                        </div>
                                        @*<form action="/Account/Register" class="" method="post">*@
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @*<input type="text" id="Name" name="Name" class="form-control" />
                                                    <label class="form-label" for="form3Example1c">Your Name</label>*@
                                                @Html.LabelFor(temp => temp.Name)
                                                @Html.TextBoxFor(temp => temp.Name, new { placeholder = "Username", @class = "form-control" })
                                                @Html.ValidationMessageFor(temp => temp.Name)
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @*<input type="password" id="Password" name="Password" class="form-control" />
                                                    <label class="form-label" for="form3Example4c">Password</label>*@
                                                @Html.LabelFor(temp => temp.Password)
                                                @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
                                                @Html.ValidationMessageFor(temp => temp.Password)
                                            </div>
                                        </div>
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                                    <a href="/Account/Register" class="btn btn-light btn-lg ms-5">Register</a>
                                    <a href="/Home/Index" class="btn btn-danger btn-lg ms-5">Return</a>
                                </div> 
                                    }
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                         class="img-fluid" alt="Sample image">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
